<div ng-if="mostrar" class="mdl-grid">
    <div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--3-col mdl-cell--3-col-tablet mdl-cell--3-col-phone wf-card">
        <a class="mdl-card__title"
           href="assets/images/fotos/biometano/biometano1.jpg"
           data-lightbox="example-set"
           data-title=""
           style="background-image:url(assets/images/fotos/biometano/biometano1.jpg)">
        </a>
        <div class="mdl-card__supporting-text">Descrição foto</div>
    </div>
    <div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--3-col mdl-cell--3-col-tablet mdl-cell--3-col-phone wf-card">
        <a class="mdl-card__title"
           href="assets/images/fotos/biometano/biometano2.jpg"
           data-lightbox="example-set"
           data-title=""
           style="background-image:url(assets/images/fotos/biometano/biometano2.jpg)">
        </a>
        <div class="mdl-card__supporting-text">Descrição foto</div>
    </div>
    <div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--3-col mdl-cell--3-col-tablet mdl-cell--3-col-phone wf-card">
        <a class="mdl-card__title"
           href="assets/images/fotos/biometano/biometano3.jpg"
           data-lightbox="example-set"
           data-title=""
           style="background-image:url(assets/images/fotos/biometano/biometano3.jpg)">
        </a>
        <div class="mdl-card__supporting-text">
            Descrição foto
        </div>
    </div>
    <div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--3-col mdl-cell--3-col-tablet mdl-cell--3-col-phone wf-card">
        <a class="mdl-card__title"
           href="assets/images/fotos/biometano/biometano4.jpg"
           data-lightbox="example-set"
           data-title=""
           style="background-image:url(assets/images/fotos/biometano/biometano4.jpg)">
        </a>
        <div class="mdl-card__supporting-text">
            Descrição foto
        </div>
    </div>
    <div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--3-col mdl-cell--3-col-tablet mdl-cell--3-col-phone wf-card">
        <a class="mdl-card__title"
           href="assets/images/fotos/biometano/biometano5.jpg"
           data-lightbox="example-set"
           data-title=""
           style="background-image:url(assets/images/fotos/biometano/biometano5.jpg)">
        </a>
        <div class="mdl-card__supporting-text">
            Descrição foto
        </div>
    </div>
    <div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--3-col mdl-cell--3-col-tablet mdl-cell--3-col-phone wf-card">
        <a class="mdl-card__title"
           href="assets/images/fotos/biometano/biometano6.jpg"
           data-lightbox="example-set"
           data-title=""
           style="background-image:url(assets/images/fotos/biometano/biometano6.jpg)">
        </a>
        <div class="mdl-card__supporting-text">
            Descrição foto
        </div>
    </div>
    <div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--3-col mdl-cell--3-col-tablet mdl-cell--3-col-phone wf-card">
        <a class="mdl-card__title"
           href="assets/images/fotos/biometano/biometano7.jpg"
           data-lightbox="example-set"
           data-title=""
           style="background-image:url(assets/images/fotos/biometano/biometano7.jpg)">
        </a>
        <div class="mdl-card__supporting-text">
            Descrição foto
        </div>
    </div>
</div>