@(usuarios: List[Usuario])
@views.html.admin.main("Administração - Usuários") {
    <div class="col-sm-6">
        <div class="panel panel-default">
            <div class="panel-heading">Lista de Usuários</div>
            <div class="panel-body">
                <table class="table-striped table table-hover table-bordered">
                    <tr>
                        <th>Nome</th>
                    </tr>
                    @for(usuario <- usuarios) {
                    <tr>
                        <td><a href="@routes.UsuarioController.">@usuario.getNome()</a></td>
                    </tr>
                    }
                </table>
            </div>
        </div>
    </div>
}