<div ng-init="init()" class="mdl-grid">
    <div ng-repeat="noticia in noticias" class="mdl-cell mdl-card mdl-shadow--4dp portfolio-card">
        <div class="mdl-card__media cartao-media-biogas">
            <img class="article-image" ng-src="assets/images/capa/noticias/{{noticia.nomeCapa}}" border="0" alt="">
        </div>
        <div class="mdl-card__title">
            <h2 class="mdl-card__title-text cartao-noticia">{{noticia.titulo}}</h2>
        </div>
        <div class="mdl-card__supporting-text">
            {{noticia.resumo}}
        </div>
        <div class="mdl-card__actions mdl-card--border">
            <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="{{noticia.url}}" target="_blank"
               data-upgraded=",MaterialButton,MaterialRipple">{{Messages('card.button.title')}}<span class="mdl-button__ripple-container"><span class="mdl-ripple"></span></span></a>
        </div>
    </div>
</div>