@(formPreenchido:DynamicForm)

@import helper._

@views.html.admin.main("Cadastro de Artigo") {
    <div class="col-sm-6">
        <div class="panel panel-default">
            <div class="panel-heading">Cadastro de Artigo</div>
            <div class="panel-body">
                @form(routes.ArtigoController.inserir(), 'enctype -> "multipart/form-data", 'class -> "form-horizontal") {

                    @if(formPreenchido.hasGlobalErrors) {
                        <div class="form-group">
                            <label class="col-sm-3 control-label"></label>
                            <div class="col-sm-6">
                                <p class="alert alert-danger text-center">@formPreenchido.globalError.message</p>
                            </div>
                        </div>
                    }

                    <div class="form-group">
                        <label class="col-sm-3"></label>
                        <div class="col-sm-6">
                            <label class="control-label">Título:</label>
                            <input type="text" name="titulo" class="form-control" maxlength="150" required/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3"></label>
                        <div class="col-sm-6">
                            <label class="control-label">Resumo:</label>
                            <textarea type="text" name="resumo" class="form-control" maxlength="254" rows="4" required/></textarea>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3"></label>
                        <div class="col-sm-6">
                            <label class="control-label">Enviar:</label>
                            <input type="file" name="arquivo" class="form-control" required>
                        </div>
                    </div>

                    <!-- Button -->
                    <div class="form-group">
                        <label class="col-md-3 control-label"></label>
                        <div class="col-md-6">
                            <input class="btn btn-success" type="submit" id="btnSubmit" value="Cadastrar"/>
                            <a class="btn btn-default" type="button" href="/artigo/lista/todos">Cancelar</a>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
}

<script type="text/javascript">
    window.onbeforeunload = function () {
        var inputs = document.getElementsByTagName("INPUT");
        for (var i = 0; i < inputs.length; i++) {
            if (inputs[i].type == "button" || inputs[i].type == "submit") {
                inputs[i].disabled = true;
            }
        }
    };
</script>