@(artigo: Artigo)

@import helper._

@views.html.admin.main("Administração - Detalhe do Artigo") {
    <div class="col-sm-6">
        <div class="panel panel-default">
            <div class="panel-heading">Detalhe do Artigo
                <div class="btn-group pull-right">
                    <button class="btn btn-default btn-xs dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Opções <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a href="@routes.ArtigoController.telaEditar(artigo.getId)">Editar</a></li>
                        <li><a data-toggle="modal" data-target=".bs-example-modal-sm" href="">Excluir</a></li>
                    </ul>
                </div>
            </div>
            <div class="panel-body">
                    <div class="item-form width-600 margin-bottom-15">
                        <label class="display-block strong">Título</label>
                        <p class="display-block margin-left-027em">@artigo.getTitulo</p>
                    </div>
                    <div class="item-form width-600 margin-bottom-15">
                        <label class="display-block strong">Resumo</label>
                        <p class="display-block margin-left-027em">@artigo.getResumo</p>
                    </div>
                    <div class="item-form width-600 margin-bottom-15">
                        <label class="display-block strong">Data/Hora de Cadastro</label>
                        <p type="date" class="display-block margin-left-027em">@artigo.getDataCadastro.format("dd MMMM yyyy - hh:mm:ss")</p>
                    </div>
                    @if(artigo.getDataAlteracao != null){
                        <div class="item-form width-600 margin-bottom-15">
                            <label class="display-block strong">Data/Hora de Alteração</label>
                            <p class="display-block margin-left-027em">@artigo.getDataAlteracao.format("dd MMMM yyyy - hh:mm:ss")</p>
                        </div>
                    }
            </div>
        </div>
    </div>
    <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Biblioteca</h4>
                </div>
                <div class="modal-body">
                    <p class="text-center">Deseja remover o artigo <b>"@artigo.getTitulo"</b>?</p>
                </div>
                <div class="modal-footer">
                    @form(routes.ArtigoController.remover(artigo.getId)) {
                        <input type="submit" value="Remover" class="btn btn-warning">
                    }
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
}

<script type="text/javascript">
    window.onbeforeunload = function () {
        var inputs = document.getElementsByTagName("INPUT");
        for (var i = 0; i < inputs.length; i++) {
            if (inputs[i].type == "button" || inputs[i].type == "submit") {
                inputs[i].disabled = true;
            }
        }
    };
</script>