@(id: Long, artigoForm: Form[Artigo])

@import helper._

@views.html.admin.main("Editar Artigo") {
<div class="col-sm-6">
    <div class="panel panel-default">
        <div class="panel-heading">Editar Artigo</div>
        <div class="panel-body">
            @form(routes.ArtigoController.editar(id), 'enctype -> "multipart/form-data", 'class -> "form-horizontal", 'id -> "artigoForm") {

            @if(artigoForm.hasGlobalErrors) {
                <div class="form-group">
                    <label class="col-sm-3 control-label"></label>
                    <div class="col-sm-6">
                        <p class="alert alert-danger text-center">
                            @artigoForm.globalError.message
                        </p>
                    </div>
                </div>
            }

            <div class="form-group">
                <label class="col-sm-3 control-label"></label>
                <div class="col-sm-6">
                    @helper.inputText(artigoForm("titulo"), 'class -> "form-control", 'placeholder -> "Insira o título", '_label -> "Título:", 'size -> 160, '_help -> "")
                    @helper.textarea(field = artigoForm("resumo"), 'rows -> 4, 'class -> "form-control", '_label -> "Resumo:", '_help -> "", 'size -> 254)
                    <label class="control-label">Enviar:</label>
                    <input type="file" name="arquivo" class="form-control" required>
                </div>
            </div>

            <!-- Button -->
            <div class="form-group">
                <label class="col-md-3 control-label"></label>
                <div class="col-md-6">
                    <input class="btn btn-primary" type="submit" id="btnSubmit" value="Editar"/>
                    <a href="/artigo/lista/todos" class="btn btn-default" type="button">Cancelar</a>
                </div>
            </div>
            }
        </div>
    </div>
</div>
}
<script type="text/javascript">
    window.onbeforeunload = function () {
        var inputs = document.getElementsByTagName("INPUT");
        for (var i = 0; i < inputs.length; i++) {
            if (inputs[i].type == "button" || inputs[i].type == "submit") {
                inputs[i].disabled = true;
            }
        }
    };
</script>