@(artigos: List[Artigo])
@views.html.admin.main("Usuários") {
    <div class="col-sm-6">
        <div class="panel panel-default">
            <div class="panel-heading">Lista de Artigos
                <a href="/novo" class="pull-right">Adicionar</a>
            </div>
            <div class="panel-body">
                <table class="table-striped table table-hover table-bordered">
                    <tr>
                        <th>Título</th>
                    </tr>
                    @for(artigo <- artigos) {
                    <tr>
                        <td><a href="">@artigo.getTitulo()</a></td>
                    </tr>
                    }
                </table>
            </div>
        </div>
    </div>
}