<div ng-controller="home.controller" ng-cloak="" class="carddemoBasicUsage" >
    <md-content class="md-padding" layout-xs="column" layout="row">
        <div flex-xs flex-gt-xs="50" layout="column">
            <md-card>
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">Contato</span>
                            <div>
                                <md-input-container>
                                    <label>Nome *</label>
                                    <input ng-model="contato.nome" type="text"placeholder="Nome (necessário)" ng-required="true" >
                                </md-input-container>
                                <md-input-container>
                                    <label>Email *</label>
                                    <input ng-model="contato.email" type="email" placeholder="Email (necessário)" ng-required="true">
                                </md-input-container>
                                <md-input-container>
                                    <label>Assunto *</label>
                                    <input ng-model="contato.assunto" type="text" placeholder="Assunto (necessário)" ng-required="true">
                                </md-input-container>
                                <md-input-container>
                                    <label>Mensagem *</label>
                                    <input ng-model="contato.mensagem" type="text" placeholder="Mensagem (necessário)" ng-required="true">
                                </md-input-container>
                            </div>
                    </md-card-title-text>
                </md-card-title>
                <md-card-actions layout="row" layout-align="end center">
                    <md-button class="md-raised md-primary" ng-disabled="!contato.nome || !contato.email || !contato.assunto || !contato.mensagem">Enviar mensagem</md-button>
                </md-card-actions>
            </md-card>
            <md-card>
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">Artigo 1</span>
                        <span class="md-subhead">O objetivo deste trabalho consiste em realizar
                            um comparativo entre os frameworks, Play Framework e Ruby on Rails,
                            apoiando a tomada de decisão no desenvolvimento de sistemas Web. </span>
                    </md-card-title-text>
                </md-card-title>
                <md-card-content layout="row" layout-align="space-between">
                    <div class="md-media-xl"></div>
                    <md-card-actions layout="column">

                    </md-card-actions>
                </md-card-content>
            </md-card>
        </div>
    </md-content>
</div>