<div class="mdl-grid">
    <div class="cartao mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col">
        <div class="mdl-card__title">
            <h2 class="mdl-card__title-text">Contato</h2>
        </div>
        <div class="mdl-card__supporting-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Mauris sagittis pellentesque lacus eleifend lacinia...
        </div>
    </div>
    <div class="cartao mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col">
        <div class="mdl-card__title">
            <h2 class="mdl-card__title-text">Fale Conosco</h2>
        </div>
        <div class="mdl-card__supporting-text">
            <p><b>Sede: </b>Parque Tecnológico Itaipu  Edifício das Águas
                Foz do Iguaçu - Paraná - Brasil</p>
            <p><b>Endereço: </b>Av. Tancredo Neves, 6731     CEP: 85.866-900
                Caixa Postal 2126</p>
            <p><b>Email: </b><a href="mailto:cibiogas@cibiogas.org">cibiogas@cibiogas.org</a>
            <p><b>Telefone: </b>+55 45 3576-7166 ou +55 45 3576-7437</p>
        </div>
    </div>
</div>