<div class="mdl-grid">
    <div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet mdl-cell--4-col-phone">
        <div class="mdl-card__title">
            <h2 class="mdl-card__title-text">Sobre propriedade intelectual</h2>
        </div>
        <div class="mdl-card__supporting-text">
            A Declaração de Direitos e Responsabilidades da Biblioteca não permite a publicação de conteúdos que violem os direitos
            de propriedade intelectual de terceiros, como direitos autorais e de marca comercial.
        </div>
        <div class="mdl-card__actions mdl-card--border">
            <a ng-href="" target="_blank" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
                {{Messages('card.button.title')}}
            </a>
        </div>
    </div>
    <div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet mdl-cell--4-col-phone">
        <div class="mdl-card__title">
            <h2 class="mdl-card__title-text">Direitos Autorais</h2>
        </div>
        <div class="mdl-card__supporting-text">
            Direito autoral é um direito legal que visa proteger obras originais de autoria (por exemplo, livros, música, filme, arte).
            Em geral, os direitos autorais protegem a expressão original da ideia, como palavras ou imagens.
            Eles não protegem fatos e ideias, mas podem proteger as palavras ou imagens originalmente usadas para expressar
            uma ideia. Os direitos autorais também não protegem nomes, títulos e slogans. No entanto, há outro direito legal
            chamado marca comercial que pode proteger esses itens.
            Saiba mais sobre como denunciar violações de direitos autorais.
        </div>
        <div class="mdl-card__actions mdl-card--border">
            <a ng-href="" target="_blank" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
                {{Messages('card.button.title')}}
            </a>
        </div>
    </div>
</div>
