<div class="demo-graphs mdl-shadow--2dp mdl-color--white mdl-cell mdl-cell--12-col">
    <h2>Objetivo</h2>
    <p>
        Constituir um acervo técnico para contribuir com a difusão do conhecimento entre colaboradores do CIBiogás e CIH,
        otimizando o uso das tecnologias de informação e transmissão de conhecimentos.
    </p>

    <br>
    <h2>Missão</h2>
    <p>
        A Biblioteca disponibiliza na Internet, gratuitamente
        e em formato multilíngue, importantes fontes provenientes de energias renováveis e seus derivados.
    </p>

    <br>
    <h2>CIBiogás</h2>
    <p>
        O CIBiogás (Centro Internacional de Energias Renováveis–Biogás)
        é uma instituição científica, tecnológica e de inovação, em forma de pessoa jurídica de direito
        privado, constituído como associação sem fins lucrativos, autonomia administrativa e financeira,
        regida por um estatuto.
    </p>
</div>