<div class="mdl-grid">
    <div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet mdl-cell--4-col-phone">
        <div class="mdl-card__title">
            <h2 class="mdl-card__title-text">Objetivo</h2>
        </div>
        <div class="mdl-card__supporting-text">
            Constituir um acervo técnico para contribuir com a difusão do conhecimento entre colaboradores do CIBiogás e CIH
                otimizando o uso das tecnologias de informação e transmissão de conhecimentos.
        </div>
        <hr>
        <div class="mdl-card__title">
            <h2 class="mdl-card__title-text">Missão</h2>
        </div>
        <div class="mdl-card__supporting-text">
            A Biblioteca disponibiliza na Internet, gratuitamente
                e em formato multilíngue, importantes fontes provenientes de energias renováveis e seus derivados.
        </div>
        <hr>
        <div class="mdl-card__title">
            <h2 class="mdl-card__title-text">O CIBiogás</h2>
        </div>
        <div class="mdl-card__supporting-text">
            O CIBiogás (Centro Internacional de Energias Renováveis–Biogás)
                é uma instituição científica, tecnológica e de inovação, em forma de pessoa jurídica de direito
                privado, constituído como associação sem fins lucrativos, autonomia administrativa e financeira,
                regida por um estatuto.
        </div>
    </div>
</div>