<div ng-controller="home.controller" ng-cloak>
    <md-content class="md-padding" layout-xs="column" layout="row">
        <div flex-xs flex-gt-xs="50" layout="column">
            <md-card>
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">Livro 1</span>
                        <span class="md-subhead">O objetivo deste trabalho consiste em
                            realizar um comparativo entre os frameworks, Play Framework
                            e Ruby on Rails, apoiando a tomada de decisão no desenvolvimento
                            de sistemas Web. </span>
                    </md-card-title-text>
                    <md-card-title-media>
                        <div class="md-media-lg">
                            <img src="assets/images/livros/livro2.png">
                        </div>
                    </md-card-title-media>
                </md-card-title>
                <md-card-actions layout="row" layout-align="end center">
                    <md-button class="md-raised md-primary">Download</md-button>
                    <md-button class="md-raised">Versão PDF</md-button>
                </md-card-actions>
            </md-card>
            <md-card>
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">Artigo 1</span>
                        <span class="md-subhead">O objetivo deste trabalho consiste em realizar
                            um comparativo entre os frameworks, Play Framework e Ruby on Rails,
                            apoiando a tomada de decisão no desenvolvimento de sistemas Web. </span>
                    </md-card-title-text>
                </md-card-title>
                <md-card-content layout="row" layout-align="space-between">
                    <div class="md-media-xl"></div>
                    <md-card-actions layout="column">

                    </md-card-actions>
                </md-card-content>
            </md-card>
        </div>
        <div flex-xs flex-gt-xs="50" layout="column">
            <md-card>
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">Livro de Play Framework</span>
                        <span class="md-subhead">O objetivo deste trabalho consiste em realizar um comparativo entre os frameworks, Play Framework e Ruby on Rails,
                            apoiando a tomada de decisão no desenvolvimento de sistemas Web.</span>
                    </md-card-title-text>
                    <md-card-title-media>
                        <div class="md-media-sm">
                            <img src="assets/images/livros/livro3.png">
                        </div>
                    </md-card-title-media>
                </md-card-title>
                <md-card-actions layout="row" layout-align="end center">
                    <md-button>Mais informações</md-button>
                </md-card-actions>
            </md-card>
            <md-card>
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">Manual 1</span>
                        <span class="md-subhead">O objetivo deste trabalho consiste em realizar um comparativo entre os frameworks,
                            Play Framework e Ruby on Rails, apoiando a tomada de decisão no desenvolvimento de sistemas Web. </span>
                    </md-card-title-text>
                    <md-card-title-media>
                        <div class="md-media-md">
                            <img src="assets/images/livros/livro2.png">
                        </div>
                    </md-card-title-media>
                </md-card-title>
                <md-card-actions layout="row" layout-align="end center">
                    <md-button class="md-raised md-primary">Download</md-button>
                    <md-button class="md-raised">Versão PDF</md-button>
                </md-card-actions>
            </md-card>
        </div>
    </md-content>
</div>