<div class="row">
    <!--Título de Página-->
    <legend>
        <h1 class="font-style">Sobre a Biblioteca Digital</h1>
    </legend>
    <!--Corpo da página-->
    <div class="col-sm-12">
        <p class="lead">A Biblioteca Digital Mundial disponibiliza na Internet,
            gratuitamente e em formato multilíngue, importantes fontes provenientes de países e culturas de todo o mundo.</p>
        <p>Os principais objetivos da Biblioteca Digital Mundial são:</p>
        <ul>
            <li>Promover a compreensão internacional e intercultural;</li>
            <li>Expandir o volume e a variedade de conteúdo cultural na Internet;</li>
            <li>Fornecer recursos para educadores, acadêmicos e o público em geral;</li>
            <li>Desenvolver capacidades em instituições parceiras, a fim de reduzir a lacuna digital dentro dos e entre os países.</li>
        </ul>
    </div>
</div>