@(versaoDoPlay : String)

@views.html.admin.main("Sobre a Biblioteca Digital") {
    <div class="col-sm-6">
        <div class="panel panel-default">
            <div class="panel-heading">Biblioteca Digital</div>
            <div class="panel-body">
                <a class="btn btn-success">
                    Versão 1.0</a>
                <hr>
                <p>
                    <b>Ferramentas para desenvolvimento utilizadas:</b>
                </p>
                <ul>
                    <li>  <a class="btn btn-xs btn-success">
                        Play Framework @versaoDoPlay</a>
                    <li>  Postgresql
                    <li>  Java8
                    <li>  AngularJS
                    <li>  IntelliJ IDEA
                </ul>
                <p><b>Desenvolvido para os navegadores:</b></p>
                <ul>
                    <li> Firefox
                    <li> Chrome
                    <li> Microsoft Edge
                </ul>
            </div>
        </div>
    </div>
}