@(id: Long, cursoForm: play.data.Form[views.validators.CursoFormData])

@import helper._
@import templates.bootstrap._

@views.html.admin.main("Editar Curso") {
    <div class="col-sm-4">
        <div class="panel panel-default">
            <div class="panel-heading">Editar Curso</div>
            <div class="panel-body">
            @form(routes.CursoController.editar(id), 'enctype -> "multipart/form-data", 'class -> "form-horizontal", 'id -> "cursoForm") {

                @if(cursoForm.hasGlobalErrors) {
                    <div class="form-group">
                        <label class="col-sm-3 control-label"></label>
                        <div class="col-sm-6">
                            <p class="alert alert-danger text-center">@cursoForm.globalError.message</p>
                        </div>
                    </div>
                }

                    <!-- nome -->
                @texto(cursoForm("nome"),
                    label = "Nome:",
                    placeholder = "Insira o Nome")

                    <!-- descricao -->
                @textoarea(cursoForm("descricao"),
                    label = "Descrição:",
                    placeholder = "Insira a descrição")

                    <!-- Data Inicio -->
                @datetimePickerDataInicio(cursoForm("dataInicio"),
                    label = "Início:",
                    placeholder = "Insira a data")

                    <!-- Site -->
                @texto(cursoForm("site"),
                    label = "Site:",
                    placeholder = "Insira o Site")

                    <!-- Arquivo -->
                @arquivo(cursoForm("arquivo"),
                    label = "Capa:")

                    <!-- Button -->
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-12">
                        <input class="btn btn-primary" type="submit" id="btnSubmit" value="Editar"/>
                        <a class="btn btn-default" type="button" href="@routes.CursoController.telaLista">Cancelar</a>
                    </div>
                </div>
            }
            </div>
        </div>
    </div>
}

<script type="text/javascript">
        $(function () {
            $('#dataInicio').datetimepicker({
                format: 'YYYY-MM-DD'
            });
        });
        window.onbeforeunload = function () {
            var inputs = document.getElementsByTagName("INPUT");
            for (var i = 0; i < inputs.length; i++) {
                if (inputs[i].type == "button" || inputs[i].type == "submit") {
                    inputs[i].disabled = true;
                }
            }
        };
</script>