button.demo-nav {
    margin-top: 200px;
}

.carousel-biogas {
    height: 440px;
}

.ng-carousel slide {
    background-color: #999;
    text-align: center;
    font-size: 148px;
    line-height: 300px;
    color: #bbb;
}

.ng-carousel slide.empty {
    background: none;
}

.ng-carousel slide:not(.empty):nth-child(odd) {
    background-color: #aaa; color: #ccc;
}

