.agenda{

}

.agenda .data{
    height:83px;
    float:left;
    padding-right:10px;
}

.agenda .data .dia{
    width:42px;
    height:55px;
    float: left;
    background: rgb(245, 166, 64) !important;
}

.agenda .data .dia .numero{
    font-size:22px;
    font-weight:bold;
    color: #ffffff;
    padding:5px;
}

.agenda .data .dia .mes{
    font-size:14px;
    font-weight:bold;
    color: #ffffff;
    text-align:center;
}

.agenda .data .semana{
    width:190px;
    height:55px;
    background: #dedede;
    font-size:17px;
    font-weight:bold;
    line-height:55px;
    text-align:center;
}