body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #eee;
}

p {
  margin: 0 0 0;
}

.mensagens {
  max-width: 500px;
  padding: 15px;
  margin: 0 auto;
}

.mensagens .mensagens-heading,
.mensagens .checkbox {
  margin-bottom: 10px;
}

.mensagem {
    margin-bottom: 3px;
}