.site-logo {
    max-height:81px;
}

.separador {
    height: 1px;
    background-color: #dcdcdc;
    margin: 8px 0;
}

.mdl-color--deep-orange-cibiogas {
  background-color: rgb(245, 134, 52) !important;
}