@(livroForm: Form[Livro])

@import helper._
@import templates._

@views.html.admin.main("Cadastro de Livro") {
    <div class="col-sm-6">
        <div class="panel panel-default">
            <div class="panel-heading">Cadastro de Livro</div>
            <div class="panel-body">
                @form(routes.LivroController.inserir(), 'enctype -> "multipart/form-data", 'class -> "form-horizontal") {

                    @if(livroForm.hasGlobalErrors) {
                    <div class="form-group">
                        <label class="col-sm-3 control-label"></label>
                        <div class="col-sm-6">
                            <p class="alert alert-danger text-center">@livroForm.globalError.message</p>
                        </div>
                    </div>
                    }

                    <div class="form-group">
                        <label class="col-sm-3"></label>
                        <div class="col-sm-6">
                            <!-- Título -->
                            @texto(livroForm("titulo"),
                                label = "Título:",
                                placeholder = "Insira o Título")

                            <!-- Subtítulo -->
                            @texto(livroForm("subTitulo"),
                            label = "Subtítulo:",
                            placeholder = "Insira o Subtítulo")
                        </div>
                    </div>

                    <!-- Button -->
                    <div class="form-group">
                        <label class="col-md-3 control-label"></label>
                        <div class="col-md-6">
                            <input class="btn btn-success" type="submit" id="btnSubmit" value="Cadastrar"/>
                            <a class="btn btn-default" type="button" href="/livro/lista/todos">Cancelar</a>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>

}