<div ng-init="init()" class="mdl-grid">
    <div ng-repeat="artigo in artigos" class="demo-card-wide mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet mdl-cell--4-col-phone">
        <div class="mdl-card__title">
            <h2 class="mdl-card__title-text">{{artigo.titulo}}</h2>
        </div>
        <div class="mdl-card__supporting-text">
            {{artigo.resumo}}
        </div>
        <div class="mdl-card__actions mdl-card--border">
            <a target="_blank" href="/artigo/pdf/{{artigo.nomeArquivo}}" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
                {{Messages('card.button.pdf.title')}}
            </a>
        </div>
    </div>
</div>