<div class="mdl-grid">
    <div class="demo-card-wide mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet mdl-cell--4-col-phone">
        <div class="mdl-card__title">
            <h2 class="mdl-card__title-text">Avaliação da Eficiência de Remoção de H2S e CO2 na
                Unidade de Tratamento de Biogás
            </h2>
        </div>
        <div class="mdl-card__supporting-text">
            O gás sulfídrico dependendo de sua concentração pode tornar o uso do Biogás limitante.
            Processos de remoção de H2S já existem atualmente. Porém, é difícil encontrar sistemas
            que removem H2S e CO2 em uma única unidade de tratamento, e com eficiência em torno de 100% para H2S e 83% para CO2.
        </div>
        <div class="mdl-card__actions mdl-card--border">
            <a href="/assets/pdf.js/web/viewer.html?file=documentos/artigos/avaliacao_eficiencia_remocao.pdf" target="_blank" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
                Visualizar
            </a>
        </div>
    </div>
    <div class="demo-card-wide mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet mdl-cell--4-col-phone">
        <div class="mdl-card__title">
            <h2 class="mdl-card__title-text">
                Comparação da Composição do Biogás Gerado em Granjas de Leitões e Suínos
            </h2>
        </div>
        <div class="mdl-card__supporting-text">
            Uma tecnologia eficiente para o tratamento de dejetos resultantes de criação de
            animais em confinamento por meio de degradação anaeróbia são os biodigestores. Esta
            tecnologia resulta na geração do biofertilizante e do Biogás, sendo que o Biogás é uma fonte
            energética.
        </div>
        <div class="mdl-card__actions mdl-card--border">
            <a href="/assets/pdf.js/web/viewer.html?file=documentos/artigos/comparacao_composicao_biogas.pdf" target="_blank" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
                Visualizar
            </a>
        </div>
    </div>
    <div class="demo-card-wide mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet mdl-cell--4-col-phone">
        <div class="mdl-card__title">
            <h2 class="mdl-card__title-text">
                Isolamento e Caracterização Microbiológica
            </h2>
        </div>
        <div class="mdl-card__supporting-text">
            A suinocultura e a bovinocultura são consideradas pelos orgãos de fiscalização
            e proteção ambiental como uma atividade potencialmente causadora de poluição ambiental.
            O tratamento sanitário desses resíduos é possível por degradação em biodigestores
            anaeróbios e o uso de inóculos apropriados contribuem para a eficácia destes sistemas.
        </div>
        <div class="mdl-card__actions mdl-card--border">
            <a href="/assets/pdf.js/web/viewer.html?file=documentos/artigos/isolamento_caracterizacao_microbiologica.pdf" target="_blank" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
                Visualizar
            </a>
        </div>
    </div>
    <div class="demo-card-wide mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet mdl-cell--4-col-phone">
        <div class="mdl-card__title">
            <h2 class="mdl-card__title-text">
                Produção e Aclimatação de Inóculo para Ensaio PME
            </h2>
        </div>
        <div class="mdl-card__supporting-text">
            I nóculo é a biomassa microbiana que é adicionada no início de um teste
            biológico ou durante o processo para acelerá-lo, imprescindível para obtenção do
            potencial biometânico (PME) de uma biomassa residual.
        </div>
        <div class="mdl-card__actions mdl-card--border">
            <a href="/assets/pdf.js/web/viewer.html?file=documentos/artigos/producao_inoculo_pme.pdf" target="_blank" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
                Visualizar
            </a>
        </div>
    </div>
    <div class="demo-card-wide mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet mdl-cell--4-col-phone">
        <div class="mdl-card__title">
            <h2 class="mdl-card__title-text">
                Estudo da Produção de Biogás em Laboratório, utilizando como substrato dejeto suíno
            </h2>
        </div>
        <div class="mdl-card__supporting-text">
            O presente trabalho foi conduzido para avaliar a produção de biogás em
            laboratório e comparar a caracterização do biogás produzido em laboratório por meio do
            teste de batelada e o biogás produzido em campo, de propriedades de suinocultura
            pertencentes às Unidades de Demonstração da Plataforma Itaipu de Energias
            Renováveis.
        </div>
        <div class="mdl-card__actions mdl-card--border">
            <a href="/assets/pdf.js/web/viewer.html?file=documentos/artigos/producao_biogas_dejeto_suino.pdf" target="_blank" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
                Visualizar
            </a>
        </div>
    </div>
</div>