<div class="mdl-grid">
    <div class="demo-card-wide mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet mdl-cell--4-col-phone">
        <div class="mdl-card__title">
            <h2 class="mdl-card__title-text">Avaliação da Eficiência de Remoção de H2S e CO2 na
                Unidade de Tratamento de Biogás
            </h2>
        </div>
        <div class="mdl-card__supporting-text">
            O gás sulfídrico dependendo de sua concentração pode tornar o uso do Biogás limitante.
            Processos de remoção de H2S já existem atualmente. Porém, é difícil encontrar sistemas
            que removem H2S e CO2 em uma única unidade de tratamento, e com eficiência em torno de 100% para H2S e 83% para CO2.
        </div>
        <div class="mdl-card__actions mdl-card--border">
            <a href="/assets/pdf.js/web/viewer.html?file=documentos/artigos/avaliacao_eficiencia_remocao.pdf" target="_blank" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
                Visualizar
            </a>
        </div>
    </div>
</div>