@(id: Long, eventoForm: play.data.Form[views.validators.EventoFormData])

@import helper._
@import templates.bootstrap._

@views.html.admin.main("Editar Evento") {
    <div class="col-sm-4">
        <div class="panel panel-default">
            <div class="panel-heading">Editar Evento</div>
            <div class="panel-body">
                @form(routes.EventoController.editar(id), 'class -> "form-horizontal", 'id -> "eventoForm") {

                    @if(eventoForm.hasGlobalErrors) {
                        <div class="form-group">
                            <label class="col-sm-3 control-label"></label>
                            <div class="col-sm-6">
                                <p class="alert alert-danger text-center">@eventoForm.globalError.message</p>
                            </div>
                        </div>
                    }

                        <!-- nome -->
                    @texto(eventoForm("nome"),
                        label = "Nome:",
                        placeholder = "Insira o Nome")

                        <!-- Data Inicio -->
                    @datetimePickerDataInicio(eventoForm("dataInicio"),
                        label = "Início:",
                        placeholder = "Insira a data")

                        <!-- Data Fim -->
                    @datetimePickerDataFim(eventoForm("dataFim"),
                        label = "Término:",
                        placeholder = "Insira a data de término")

                        <!-- Site -->
                    @texto(eventoForm("site"),
                        label = "Site:",
                        placeholder = "Insira o Site")

                        <!-- Local -->
                    @texto(eventoForm("local"),
                        label = "Local:",
                        placeholder = "Insira o Local")

                        <!-- Local -->
                    @texto(eventoForm("instituicao"),
                        label = "Instituição:",
                        placeholder = "Insira a Instituição Organizadora")

                        <!-- Button -->
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-12">
                            <input class="btn btn-primary" type="submit" id="btnSubmit" value="Editar"/>
                            <a class="btn btn-default" type="button" href="@routes.EventoController.telaLista">Cancelar</a>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
}

<script type="text/javascript">
        $(function () {
            $('#dataInicio').datetimepicker({
                format: 'YYYY-MM-DD'
            });
            $('#dataFim').datetimepicker({
                format: 'YYYY-MM-DD',
                useCurrent: false //Important! See issue #1075
            });
            $("#dataInicio").on("dp.change", function (e) {
                $('#dataFim').data("DateTimePicker").minDate(e.date);
            });
            $("#dataFim").on("dp.change", function (e) {
                $('#dataInicio').data("DateTimePicker").maxDate(e.date);
            });
        });
</script>