<div ng-init="init()" class="publicacao-card-container mdl-grid">
    <div ng-if="publicacoes.length == 0" class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--4-col-phone mdl-card mdl-shadow--3dp">
        <div class="mdl-card__title">
            <h1 class="mdl-card__title-text">{{Messages("app.error.found")}}</h1>
        </div>
    </div>
    <div ng-repeat="publicacao in publicacoes" class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--4-col-phone mdl-card mdl-shadow--3dp">
        <div class="mdl-card__media">
            <img ng-src="publicacao/jpg/{{publicacao.nomeCapa}}">
        </div>
        <div class="mdl-card__title">
            <h4 class="mdl-card__title-text cartao-publicacao">{{publicacao.titulo}}</h4>
        </div>
        <div class="mdl-card__supporting-text">
            {{publicacao.resumo}}
        </div>
        <div class="mdl-card__actions mdl-card--border">
            <a href="{{publicacao.url}}" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" target="_blank">
                {{Messages('card.button.title')}}
            </a>
        </div>
    </div>
</div>