<script type="text/ng-template" id="templateId">
    <div class="mdl-dialog__content">
        Deseja excluir o usuário?
    </div>
    <div class="mdl-dialog__actions">
        <button ng-click="delete()" type="button" class="mdl-button">Sim</button>
        <button ng-click="closeThisDialog('Cancelar')" type="button" class="mdl-button">Cancelar</button>
    </div>
</script>
<div ng-init="init()" class="mdl-grid">
    <div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet mdl-cell--4-col-phone">
        <div class="mdl-card__title">
            <h2 class="mdl-card__title-text">Detalhe</h2>
        </div>
        <div class="mdl-card__supporting-text">
            <strong>Nome</strong>
            <p>{{usuario.nome}}</p>
            <strong>Email</strong>
            <p>{{usuario.email}}</p>
            <strong>Confirmado</strong>
            <p ng-if="usuario.validado===false">Não</p>
            <p ng-if="usuario.validado===true">Sim</p>
            <div data-ng-show="usuario.dataCadastro">
            <strong>Data de Cadastro</strong>
                <p>{{usuario.dataCadastro | date:'dd/MM/yyyy : HH:mm'}}</p>
            </div>
            <div data-ng-show="usuario.dataAlteracao">
                <strong>Data de Alteração</strong>
                <p>{{usuario.dataAlteracao | date:'dd/MM/yyyy : HH:mm'}}</p>
            </div>
        </div>
        <div class="mdl-card__menu">
            <!-- Rich Tooltip -->
            <a id="voltar" href="/#/usuarios" class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
                <i class="icon material-icons">undo</i>
            </a>
            <div class="mdl-tooltip" for="voltar">
                Voltar
            </div>
            <a id="editar" href="/#/usuarios/editar/{{usuario.id}}" class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
                <i class="icon material-icons">mode_edit</i>
            </a>
            <div class="mdl-tooltip" for="editar">
                Editar
            </div>
            <button id="excluir" ng-click="opendialog();" class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
                <i class="icon material-icons">delete</i>
            </button>
            <div class="mdl-tooltip" for="excluir">
                Excluir
            </div>
        </div>
    </div>
</div>