<script type="text/ng-template" id="templateId">
    <div class="mdl-dialog__content">
        Deseja excluir o usuário?
    </div>
    <div class="mdl-dialog__actions">
        <button ng-click="delete()" type="button" class="mdl-button">Sim</button>
        <button ng-click="closeThisDialog('Cancelar')" type="button" class="mdl-button">Cancelar</button>
    </div>
</script>
<div ng-init="init()" class="mdl-grid">
    <div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet mdl-cell--4-col-phone">
        <div class="mdl-card__title">
            <h2 class="mdl-card__title-text">Detalhe</h2>
        </div>
        <div class="mdl-card__supporting-text">
            <label>Email</label>
            <p>{{usuario.email}}</p>
            <label>Nome</label>
            <p>{{usuario.nome}}</p>
            <label>Data de Cadastro</label>
            <p>{{usuario.dataCadastro | date:'dd/MM/yyyy : HH:mm'}}</p>
            <div data-ng-show="usuario.dataAlteracao">
                <label>Data de Cadastro</label>
                <p>{{usuario.dataAlteracao | date:'dd/MM/yyyy : HH:mm'}}</p>
            </div>
        </div>
        <div class="mdl-card__menu">
            <a href="/#/usuarios" class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
                <i class="material-icons">undo</i>
            </a>
            <a href="/#/usuarios/editar/{{usuario.id}}" class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
                <i class="material-icons">mode_edit</i>
            </a>
            <button ng-click="opendialog();" class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
                <i class="material-icons">delete</i>
            </button>
        </div>
    </div>
</div>