<div ng-init="init()" ng-submit="update()" class="mdl-grid">
    <div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet mdl-cell--4-col-phone">
        <div class="mdl-card__title">
            <h2 class="mdl-card__title-text">Editar</h2>
        </div>
        <form ng-submit="save()">
            <div class="mdl-card__supporting-text">
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input class="mdl-textfield__input" type="text" id="nome" ng-model="usuario.nome" required>
                    <label class="mdl-textfield__label" for="nome">Nome completo*</label>
                </div>
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input class="mdl-textfield__input" type="email" id="email" ng-model="usuario.email" required>
                    <label class="mdl-textfield__label" for="email">Email *</label>
                </div>
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input class="mdl-textfield__input" type="password" id="senha" ng-model="usuario.senha" required>
                    <label class="mdl-textfield__label" for="senha">Senha *</label>
                </div>
                <br>
                <p ng-show="!usuario.nome || !usuario.email || !usuario.senha" class="font-style">Campos Obrigatórios (*)</p>
                <!-- Raised button with ripple -->
                <button id="save" type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" ng-disabled="!usuario.nome || !usuario.email || !usuario.senha">
                    Salvar
                </button>
            </div>
            <div class="mdl-card__menu">
                <a href="/#/usuarios" class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
                    <i class="material-icons">undo</i>
                </a>
            </div>
        </form>
    </div>
</div>