<table ng-init="init()" class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
    <thead>
    <tr>
        <th class="mdl-data-table__cell--non-numeric">Nome</th>
        <th>Email</th>
        <th>Data de Cadastro</th>
        <th>Data de Alteração</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="usuario in usuarios">
        <td class="mdl-data-table__cell--non-numeric"><a ng-href="/#/usuarios/detalhe/{{usuario.id}}">{{usuario.nome}}</a></td>
        <td>{{usuario.email}}</td>
        <td>{{usuario.dataCadastro | date:'dd/MM/yyyy : HH:mm'}}</td>
        <td>{{usuario.dataAlteracao | date:'dd/MM/yyyy : HH:mm'}}</td>
    </tr>
    </tbody>
</table>