<div class="mdl-grid">
    <div class="mdl-card__supporting-text">
        <!--Input de Busca-->
        <div class="mdl-cell mdl-cell--9-col">
            <input my-enter="busca();" class="filtrar" ng-model="nomeFiltro" type="search" placeholder="digite o nome ou email">
            <span>
                <a id="search" ng-disabled="!nomeFiltro" class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab" ng-click="busca();">
                    <i class="material-icons">search</i>
                </a>
                <div class="mdl-tooltip" for="search">
                    Filtrar
                </div>
                <a id="limpar" class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab" ng-click="init();">
                    <i class="material-icons">clear</i>
                </a>
                <div class="mdl-tooltip" for="limpar">
                    Limpar
                </div>
             </span>
            <p ng-show="usuarios.length > 0"><b>{{filtrados}}</b> registros filtrados</p>
            <p ng-show="usuarios.length > 0">Total de <b>{{quantidade}}</b> Registros</p>
            <p ng-show="usuarios.length == 0">Nenhum registro encontrado</p>
        </div>

        <ul ng-show="usuarios.length" ng-init="init()" class="demo-list-three mdl-list mdl-card mdl-cell mdl-cell--12-col">
            <li ng-repeat="usuario in usuarios" class="mdl-list__item mdl-list__item--three-line">
                <span class="mdl-list__item-primary-content">
                    <i class="material-icons mdl-list__item-avatar"><a class="site-a-foto" href="/#/usuarios/detalhe/{{usuario.id}}">person</a></i>
                    <span><a class="site-a" href="/#/usuarios/detalhe/{{usuario.id}}">{{usuario.nome}}</a></span>
                    <span class="mdl-list__item-text-body">
                        {{usuario.email}}
                    </span>
                </span>
            </li>
        </ul>
    </div>
</div>