<div class="mdl-grid">
    <div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet mdl-cell--4-col-phone wf-card">
        <div class="page-content top-padding">
            <div class="video-wrapper">
                <iframe allowfullscreen data-autohide="1" data-modestbranding="1" data-controls="2"
                        data-utm-source="crdev-wf" data-showinfo="0" frameborder="0" class="devsite-embedded-youtube-video"
                        src="https://www.youtube.com/embed/NauHixfoyuo" data-video-id="NauHixfoyuo">
                </iframe>
            </div>
            <p>Conheça a granja onde os dejetos de galinha viram biocombustível;
                A cidade que zerará a conta de energia dos prédios públicos por meio da transformação de dejetos de porcos;
                A fazenda que economiza 30 mil reais por mês com energia após a instalação do sistema de biogás;
                O primeiro projeto de biogás interligado à rede elétrica do Brasil; e
                O condomínio de agroenergia do Brasil, até então inédito.</p>
        </div>
    </div>
    <div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet mdl-cell--4-col-phone wf-card">
        <div class="page-content top-padding">
            <div class="video-wrapper">
                <iframe allowfullscreen data-autohide="1" data-modestbranding="1" data-controls="2"
                        data-utm-source="crdev-wf" data-showinfo="0" frameborder="0" class="devsite-embedded-youtube-video"
                        src="https://www.youtube.com/embed/vyZ0KAKjeJ4" data-video-id="vyZ0KAKjeJ4">
                </iframe>
            </div>
            <p>Este projeto é fruto da parceria entre a ITAIPU Binacional, a Fundação Parque Tecnológico Itaipu,
                a Scania do Brasil, a Granja Haacke e o Centro Internacional de Energias Renováveis-Biogás/CIBiogás-ER.
                A proposta do projeto é demonstrar a viabilidade da mobilidade a biometano obtido a partir da purificação do
                biogás gerado em uma atividade de produção de alimentos.</p>
        </div>
    </div>
    <div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet mdl-cell--4-col-phone wf-card">
        <div class="page-content top-padding">
            <div class="video-wrapper">
                <iframe allowfullscreen data-autohide="1" data-modestbranding="1" data-controls="2"
                        data-utm-source="crdev-wf" data-showinfo="0" frameborder="0" class="devsite-embedded-youtube-video"
                        src="https://www.youtube.com/embed/hKOMCQK7D_E" data-video-id="hKOMCQK7D_E">
                </iframe>
            </div>
            <p>As mulheres como protagonistas no cenário da produção e desenvolvimento do biogás. Vídeo apresentado durante o
                1º Encontro Regional Energia Renovável, Mobilidade Elétrica e Igualdade de Gênero,
                inciativa da ITAIPU Binacional, ONU Mulher e Programa de Desenvolvimento das Nações Unidas (Pnud), realizado em Foz do Iguaçu - Paraná, Brasil.</p>
        </div>
    </div>
    <div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet mdl-cell--4-col-phone wf-card">
        <div class="page-content top-padding">
            <div class="video-wrapper">
                <iframe allowfullscreen data-autohide="1" data-modestbranding="1" data-controls="2"
                        data-utm-source="crdev-wf" data-showinfo="0" frameborder="0" class="devsite-embedded-youtube-video"
                        src="https://www.youtube.com/embed/6JR7e_V4oPY" data-video-id="6JR7e_V4oPY">
                </iframe>
            </div>
            <p>Aplicações do Biogás com <strong>Cícero Jayme Bley Junior, </strong>
                Superintendente de Energias Renováveis - ITAIPU Binacional
                e Engenheiro Agrônomo - Mestre em Engenharia Civil</p>
        </div>
    </div>
    <div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet mdl-cell--4-col-phone wf-card">
        <div class="page-content top-padding">
            <div class="video-wrapper">
                <iframe allowfullscreen data-autohide="1" data-modestbranding="1" data-controls="2"
                        data-utm-source="crdev-wf" data-showinfo="0" frameborder="0" class="devsite-embedded-youtube-video"
                        src="https://www.youtube.com/embed/Mf44K0iQbM4" data-video-id="Mf44K0iQbM4">
                </iframe>
            </div>
            <p>O Futuro do Biogás com <strong>Cícero Jayme Bley Junior, </strong>
                Superintendente de Energias Renováveis - ITAIPU Binacional
                e Engenheiro Agrônomo - Mestre em Engenharia Civil</p>
        </div>
    </div>
    <div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet mdl-cell--4-col-phone wf-card">
        <div class="page-content top-padding">
            <div class="video-wrapper">
                <iframe allowfullscreen data-autohide="1" data-modestbranding="1" data-controls="2"
                        data-utm-source="crdev-wf" data-showinfo="0" frameborder="0" class="devsite-embedded-youtube-video"
                        src="https://www.youtube.com/embed/yJmzTLN-G5Q" data-video-id="yJmzTLN-G5Q">
                </iframe>
            </div>
            <p>Curso de Atualização em Energias do Biogás (EaD) <strong>Cícero Jayme Bley Junior, </strong>
                Superintendente de Energias Renováveis - ITAIPU Binacional
                e Engenheiro Agrônomo - Mestre em Engenharia Civil</p>
        </div>
    </div>
    <div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet mdl-cell--4-col-phone wf-card">
        <div class="page-content top-padding">
            <div class="video-wrapper">
                <iframe allowfullscreen data-autohide="1" data-modestbranding="1" data-controls="2"
                        data-utm-source="crdev-wf" data-showinfo="0" frameborder="0" class="devsite-embedded-youtube-video"
                        src="https://www.youtube.com/embed/koY0_7wcq7c" data-video-id="koY0_7wcq7c">
                </iframe>
            </div>
            <p>Desenvolvido pelo CIBiogás em parceria com a empresa austríaca Spirit Design, ele é chamado de Ch4pa, ao fazer referência à fórmula química do metano: o CH4.</p>
        </div>
    </div>
    <div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet mdl-cell--4-col-phone wf-card">
        <div class="page-content top-padding">
            <div class="video-wrapper">
                <iframe allowfullscreen data-autohide="1" data-modestbranding="1" data-controls="2"
                        data-utm-source="crdev-wf" data-showinfo="0" frameborder="0" class="devsite-embedded-youtube-video"
                        src="https://www.youtube.com/embed/AwWo7AMUX-c" data-video-id="AwWo7AMUX-c">
                </iframe>
            </div>
            <p>6 minutos de vídeo sobre o Condomínio de Agroenergia para Agricultura Familiar - Ajuricaba,
                envolvendo 33 pequenos agricultores, ligados por um biogasoduto a uma microcentral termelétrica de biogás.</p>
        </div>
    </div>
</div>