<div class="mdl-grid">
    <div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--12-col cartao">
        <div class="page-content top-padding">
            <!--<h6 class="wf-shows__subtitle">Video</h6>-->
            <!--<h3 class="wf-shows__title">Biogás - A energia que vem do campo</h3>-->
            <div class="video-wrapper">
                <iframe allowfullscreen data-autohide="1" data-modestbranding="1" data-controls="2"
                        data-utm-source="crdev-wf" data-showinfo="0" frameborder="0" class="devsite-embedded-youtube-video"
                        src="https://www.youtube.com/embed/NauHixfoyuo" data-video-id="NauHixfoyuo">
                </iframe>
            </div>
            <p>Conheça a granja onde os dejetos de galinha viram biocombustível;
                A cidade que zerará a conta de energia dos prédios públicos por meio da transformação de dejetos de porcos;
                A fazenda que economiza 30 mil reais por mês com energia após a instalação do sistema de biogás;
                O primeiro projeto de biogás interligado à rede elétrica do Brasil; e
                O condomínio de agroenergia do Brasil, até então inédito.</p>
        </div>
    </div>
</div>