<div class="mdl-grid">
    <div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet mdl-cell--4-col-phone wf-card">
        <a style="background-image:url(assets/images/videos/capa2.png)" href="/#/videos/biogas" class="mdl-card__title">
           <div></div>
        </a>
        <div class="mdl-card__supporting-text">
            A fazenda que economiza 30 mil reais por mês com energia após a instalação do sistema de biogás;
        </div>
        <div class="mdl-card__actions mdl-card--border">
            <a href="/#/videos/biogas" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
                Mais informações
            </a>
        </div>
    </div>
    <div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet mdl-cell--4-col-phone wf-card">
        <a style="background-image:url(assets/images/cartao.jpg)" href="" class="mdl-card__title">
            <div></div>
        </a>
        <div class="mdl-card__supporting-text">
            Curso de Atualização em Energias do Biogás
        </div>
        <div class="mdl-card__actions mdl-card--border">
            <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
                Mais informações
            </a>
        </div>
    </div>
</div>
