<div class="mdl-grid">
    <div class="cartao mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col">
        <div class="mdl-card__title">
            <h2 class="mdl-card__title-text">Energias do Biogás</h2>
        </div>
        <div class="mdl-card__supporting-text">
            O Curso de Atualização em Energias do Biogás, com carga horária de 110h,
            é realizado integralmente a distância, facilitando a participação de alunos
            de diversas regiões geográficas.
            Seu conteúdo foi produzido por especialistas, com objetivo de atualizar profissionais
            que desejam atuar na cadeia energética do biogás.
        </div>
        <div class="mdl-card__actions mdl-card--border">
            <a ng-href="https://cibiogas.org/eadbiogas" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">
                Mais informações
            </a>
        </div>
    </div>

    <div class="cartao mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col">
        <div class="mdl-card__title">
            <h2 class="mdl-card__title-text">Gestão Territorial</h2>
        </div>
        <div class="mdl-card__supporting-text">
            O Curso de Gestão Territorial Aplicada à Água e Energia, com carga horária de 40h,
            é realizado integralmente a distância. Seu conteúdo foi produzido por especialistas,
            visando  atualizar e fomentar o conhecimento na área.
        </div>
        <div class="mdl-card__actions mdl-card--border">
            <a ng-href="https://cibiogas.org/gestao_territorial" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">
                Mais informações
            </a>
        </div>
    </div>
</div>