<div class="mdl-grid">
    <div class="demo-graphs mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col">
        <div class="mdl-card__title">
            <h2 class="mdl-card__title-text">Energias do Biogás</h2>
        </div>
        <div class="mdl-card__supporting-text">
            <p>O Curso de Atualização em Energias do Biogás, com carga horária de 110h,
                é realizado integralmente a distância, facilitando a participação de alunos
                de diversas regiões geográficas.</p>
            <p>Seu conteúdo foi produzido por especialistas, com objetivo de atualizar profissionais
                que desejam atuar na cadeia energética do biogás.</p>
        </div>
        <div class="mdl-card__actions mdl-card--border">
            <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">
                Mais informações
            </button>
        </div>
    </div>
    <div class="demo-graphs mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col">
        <div class="mdl-card__title">
            <h2 class="mdl-card__title-text">Gestão Territorial</h2>
        </div>
        <div class="mdl-card__supporting-text">
            <p>O Curso de Gestão Territorial Aplicada à Água e Energia, com carga horária de 40h,
                é realizado integralmente a distância. Seu conteúdo foi produzido por especialistas,
                visando  atualizar e fomentar o conhecimento na área. </p>
        </div>
        <div class="mdl-card__actions mdl-card--border">
            <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">
                Mais informações
            </button>
        </div>
    </div>
</div>