<div ng-init="init()" class="mdl-grid">
    <div ng-repeat="curso in cursos" class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet mdl-cell--4-col-phone wf-card">
        <a style="background-image:url(assets/images/capa/cursos/{{curso.nomeCapa}})" href="{{curso.site}}" class="mdl-card__title" target="_blank">
            <h2 class="mdl-card__title-text">{{curso.nome}}</h2>
        </a>
        <div class="mdl-card__supporting-text">
            {{curso.descricao}}
        </div>
        <div class="mdl-card__actions mdl-card--border">
            <a href="{{curso.site}}" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" target="_blank">
                {{Messages('card.button.title')}}
            </a>
        </div>
        <div class="mdl-card__menu">
            <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect mdl-color-text--white">
                <i class="material-icons">shared</i>
            </button>
        </div>
    </div>
</div>