<div ng-if="mostrar" class="mdl-grid">
    <div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--3-col mdl-cell--3-col-tablet mdl-cell--3-col-phone wf-card">
        <a class="mdl-card__title"
           href="assets/images/fotos/laboratoriobiogas/laboratoriobiogas1.jpg"
           data-lightbox="example-set"
           data-title=""
           style="background-image:url(assets/images/fotos/laboratoriobiogas/laboratoriobiogas1.jpg)">
        </a>
        <div class="mdl-card__supporting-text">Descrição foto</div>
    </div>
    <div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--3-col mdl-cell--3-col-tablet mdl-cell--3-col-phone wf-card">
        <a class="mdl-card__title"
           href="assets/images/fotos/laboratoriobiogas/laboratoriobiogas2.jpg"
           data-lightbox="example-set"
           data-title=""
           style="background-image:url(assets/images/fotos/laboratoriobiogas/laboratoriobiogas2.jpg)">
        </a>
        <div class="mdl-card__supporting-text">Descrição foto</div>
    </div>
    <div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--3-col mdl-cell--3-col-tablet mdl-cell--3-col-phone wf-card">
        <a class="mdl-card__title"
           href="assets/images/fotos/laboratoriobiogas/laboratoriobiogas3.jpg"
           data-lightbox="example-set"
           data-title=""
           style="background-image:url(assets/images/fotos/laboratoriobiogas/laboratoriobiogas3.jpg)">
        </a>
        <div class="mdl-card__supporting-text">Descrição foto</div>
    </div>
    <div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--3-col mdl-cell--3-col-tablet mdl-cell--3-col-phone wf-card">
        <a class="mdl-card__title"
           href="assets/images/fotos/laboratoriobiogas/laboratoriobiogas4.jpg"
           data-lightbox="example-set"
           data-title=""
           style="background-image:url(assets/images/fotos/laboratoriobiogas/laboratoriobiogas4.jpg)">
        </a>
        <div class="mdl-card__supporting-text">Descrição foto</div>
    </div>
</div>