@import helper._
<html>
<meta charset="UTF-8">

<link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">

<link rel="stylesheet" href="assets/bower_components/bootstrap/dist/css/bootstrap.css"/>

<!--Awesome Icons-->
<link rel="stylesheet" href="assets/bower_components/font-awesome/css/font-awesome.css"/>

<!-- Estilo da Tela-->
<link rel="stylesheet" href="assets/stylesheets/signin.css"/>

<title>Blbioteca - cadastro</title>
</head>
<body>
<div class="container">
    <div class="form-signin well well-sm">
            <h2>Cadastro de Usuário</h2>
            <hr>
            @form(routes.UsuarioController.inserir()) {

            <label>Email: </label>
            <input name="email" class="form-control"/><br/>
            <label>Senha: </label>
            <input type="password" name="senha" class="form-control"/><br/>
            <input class="btn btn-lg btn-success btn-block" type="submit" value="Cadastrar">
            }
            <hr>
            <p class="text-center">&copy; 2016 CIBiogás</p>
    </div>
</div> <!-- /container -->
</body>
</html>