@(mensagem:String)
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("bower_components/bootstrap/dist/css/bootstrap.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/mensagens.css")">
        <title>@Messages("app.title") - Error</title>
    </head>
    <body>
        <div class="row">
            <div class="container-fluid">
                <div class="mensagens">
                    <div class="panel panel-default">
                        <div class="panel-heading">@Messages("app.title")
                            <a href="/#/" class="pull-right">Home</a>
                        </div>
                        <div class="panel-body">
                            <p class="mensagem alert alert-danger text-center">@mensagem</p>
                        </div>
                        <div class="panel-footer">
                            <p class="text-center">&copy; 2016 @Messages("app.title")</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script src="@routes.Assets.versioned("bower_components/jquery/dist/jquery.js")" type="text/javascript"></script>
        <script src="@routes.Assets.versioned("bower_components/bootstrap/dist/js/bootstrap.js")" type="text/javascript"></script>
    </body>
</html>