@(usuarioForm:DynamicForm)

@import helper._
@import templates.mdl._

<html>
    <head>
        <meta charset="UTF-8">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("bower_components/material-design-lite/material.min.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/login.css")">
        <title>Biblioteca - login</title>
    </head>
<body>
    <div class="mdl-layout mdl-js-layout mdl-color--grey-100">
        <main class="mdl-layout__content">
            <div class="mdl-card mdl-shadow--6dp">
                <div class="mdl-card__title mdl-color-text--white mdl-color--deep-orange-cibiogas">
                    <h2 class="mdl-card__title-text">Biblioteca Digital</h2>
                </div>
                @form(routes.LoginController.autenticar()) {
                <div class="mdl-card__supporting-text">

                    @if(usuarioForm.hasGlobalErrors) {
                        <p align="center" class="login-message">
                            <b>@usuarioForm.globalError.message</b>
                        </p>
                    }

                    <!-- Email -->
                    @texto(usuarioForm("email"),
                    label = "Email:")

                    <!-- Senha -->
                    @senha(usuarioForm("senha"),
                    label = "Senha:")

                </div>
                <div class="mdl-card__actions mdl-card--border">
                    <input class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent mdl-color--primary" type="submit" id="btnSubmit" value="Log in"/>
                    <a href="/cadastro" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">Registrar</a>
                </div>
                }
                <div class="mdl-card__menu">
                    <a href="/#/" class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
                        <i class="material-icons mdl-color-text--white">home</i>
                    </a>
                </div>
            </div>
        </main>
    </div>
    <script src="@routes.Assets.versioned("javascripts/login.js")" type="text/javascript"></script>
    <script defer src="https://code.getmdl.io/1.1.3/material.min.js"></script>

</body>
</html>