@(usuarioForm:DynamicForm)
@import helper._
<html>
<meta charset="UTF-8">
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("bower_components/bootstrap/dist/css/bootstrap.css")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/signin.css")">
    <title>Biblioteca - login</title>
</head>
<body>
    <div class="container">
        @form(routes.LoginController.autenticar()) {
        <div class="form-signin well well-sm">
                <a href="/#/" class="btn btn-default pull-right"> Início</a>
                <h4 class="form-signin-heading">Login</h4>
                <hr>
                @if(usuarioForm.hasGlobalErrors) {
                    <p class="alert alert-danger text-center">
                        @usuarioForm.globalError.message
                    </p>
                }

                @helper.inputText(usuarioForm("email"), 'class -> "form-control", 'placeholder -> "Insira o email", '_label -> "Email")

                @helper.inputPassword(usuarioForm("senha"), 'class -> "form-control", 'placeholder -> "Insira a senha", '_label -> "Senha")

                <button class="btn btn-lg btn-primary btn-block" type="submit">Acessar</button>
            }
            <hr>
            <a href="/cadastro"><span class="fa fa-user-plus pull-right"> Registrar</span></a>
            <p>&copy; 2016 CIBiogás</p>
        </div>
    </div> <!-- /container -->
</body>
</html>